# Maven
target/
*.log
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
logs/
*.log

# Backup files
*.bak
*.old

validator_cli.jar
/FHIR_ABHA_JSON/